<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/797895b7c7.js" crossorigin="anonymous"></script>
    <title>Search</title>
</head>
<body>
<div class="container mt-5">
    <h2>Search</h2>
    <form th:action="@{/search}" th:object="${searchString}" method="get">
        <input type="text" name="searchString" placeholder="" size="50">
        <button type="submit" class="btn btn-info">Search</button>
        <button type="submit" class="btn btn-info">Reset</button>
    </form>
    <table class="table table-bordered table-sm mt-2" th:if="${results != null}">
        <thead>
        <tr>
            <th>Index</th>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Add To Cart</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l : ${results.results}" th:field="${l}">
            <td th:text="${lStat.index+1}"></td>
            <td th:text="${l.id}"></td>
            <td th:text="${l.name}"></td>
            <td><img th:src="${l.image.icon_url}"/></td>
            <td>
                <a th:href="@{/cart/add(itemId=${l.id},name=${l.name})}"><i class="fa-solid fa-cart-arrow-down"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a HREF="/cart/">View Cart</a>
</body>
</html>